---
pageKey: extended
innerPage: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# variable example #}

{% include "partials/_header.html" %}

<main class="main">
  {{mixins.hero({
  img: 'img/extended.jpg',
  title: pages[pageKey].titlePage
  })}}
  <div class="bg-red">
    <div class="wrapper">
      <div class="title-img">
        <img src="img/hey.svg" alt=""/>
      </div>
    </div>
  </div>
  <section class="cards cards_lg">
    <div class="wrapper">
      <div class="cards__title title">Community preparty</div>
      <div class="cards__descr descr"><p>The day before the conference, the local JS community would love to connect with the international attendees in an informal setup. Are you a JS developer from Amsterdam? Did you come to the city day prior to the event? Attending workshops and have no plans for an evening? Feel free to join an unofficial preparty organized by the community in the center of Amsterdam.</p></div>

      {% for event in extendeds.preparty %}
        {{mixins.extendedEvent(event) }}
      {% endfor %}

    </div>
  </section>
  {{mixins.infoSection({
  bg: 'img/js-party.jpg',
  title: "JS party",
  descr: "<p>After the main conference program is over we have a 2 hours break. Use it wisely to recharge or have a meal at food trucks area or one of the restaurants nearby to get prepared for the JS Party. This year organized in collaboration with some of Amsterdam Dance Event crew and other cultural foundations.</p>
  <p>After-party starts at 19:00, same location as the conference.</p>",
  descrMod: 'info-section__descr_xl',
  img: 'img/js-party-img.jpg'
  })}}
  <section class="cards cards_lg">
    <div class="wrapper">
      <div class="cards__title title">Museums hangout and BBQ in the park</div>
      <div class="cards__descr descr"><p>Amsterdam is beautiful, picturesque, amazing. This is what we hear sometimes from guests coming to the city. Explore this beauty on your own or together with new friends met at the conference.</p></div>
      <div class="cards__content">
        <div class="cards__item">
          <div class="card">
            <div class="card__inner">
              <div class="card__col card__col_img">
                <img src="img/img-1.png" alt=""/>
              </div>
              <div class="card__col card__col_img">
                <div class="card__img">
                  <img src="img/img-2.png" alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cards cards_sm">
    <div class="wrapper">
      <div class="cards__title title">Meet with the community</div>
      <div class="cards__descr descr"><p>Join other conference visitors or local community members at one of the meeting points (some required prior registration), or connect with people directly at JS Nation Slack, to form your own activity. Nobody knows when that Saturday ends.</p></div>

      {% for event in extendeds.community %}
        {{mixins.extendedEvent(event) }}
      {% endfor %}

    </div>
  </section>
</main>

{% include "partials/_footer.html" %}

{% endblock %}
