---
title: Amsterdam JSNation Conference 2020
dates: [{
  title: 'Thursday',
  date: '4th',
  name: 'Workshops',
  info: 'Nation`s top educators from all over the globe',
  scrollTo: '#subscribe'
}, {
  title: 'Friday',
  date: '5th',
  name: 'Conference day',
  info: 'General and NodeJS halls featuring unqie panoramic screen experience and afterparty',
  scrollTo: '#speakers'
}, {
  title: 'Saturday',
  date: '6th',
  name: 'Hangout day',
  info: 'Museums visit in the morning and JS hangout in the park since lunch',
  scrollTo: '#hangout-day'
}]
info: [{
  num: '3',
  title: 'days',
  descr: 'Workshops <br/> + Conference'
}, {
  num: '2',
  title: 'tracks',
  descr: 'General<br/> + NodeJS'
}, {
  num: '1000+',
  title: 'personalities',
  descr: 'Sharing common<br/> language',
  mod: 'event__item_lg'
}]
team: {
  title: 'First speakers',
  items: [{
      img: 'sarah.jpg',
      name: 'Sarah Drasner',
      company: 'Netlify, USA',
      info: "Head of Developer Experience at Netlify, Vue core team member, and Staff Writer at CSS-Tricks. Sarah is formerly Principal Lead of Emerging Markets, Cloud Advocates at Microsoft and Manager of UX & Engineering at Trulia/Zillow Group. She’s the author of SVG Animations from O’Reilly and has given Frontend Masters workshops. Sarah is a co-organizer of ConcatenateConf, a free conference for Nigerian and Kenyan developers. ",
      socials: [{
          link: 'https://github.com/sdras',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/sarah_edo',
          icon: 'tw'
        },
        {
          link: 'https://sarah.dev/',
          icon: 'site'
        }
      ],
      tagBG: '#fff40d',
      tag: 'Ecosystem',
      color: '#ae4f01'
    },
    {
      img: 'matteo.jpg',
      name: 'Matteo Collina',
      company: 'NearForm, Italy',
      info: 'Node.js TSC member, PhD, Technical Director @ NearForm, IoT Expert, Consultant, author of Pino and Fastify. Co-author of the book "Node.js Cookbook, Third Edition" edited by Packt.',
      socials: [{
          link: 'https://github.com/mcollina',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/matteocollina',
          icon: 'tw'
        },
        {
          link: 'http://matteocollina.com',
          icon: 'site'
        },
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
      decor: true
    },
    {
      img: 'tobias-koppers.jpg',
      name: 'TOBIAS KOPPERS',
      company: 'Webpack, Germany',
      info: 'Author of Webpack',
      socials: [{
          link: 'https://github.com/sokra',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/wSokra',
          icon: 'tw'
        },
        {
          link: 'https://medium.com/@sokra',
          icon: 'med'
        },
      ],
      tagBG: '#fff40d',
      tag: 'Ecosystem',
      color: '#ae4f01'
    },
    {
      img: 'mrdoob.png',
      name: 'Mr. Doob',
      company: 'Three.js, USA',
      info: 'Author of Three.js',
      socials: [{
          link: 'https://github.com/mrdoob',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/mrdoob',
          icon: 'tw'
        },
        {
          link: 'https://mrdoob.com/',
          icon: 'site'
        },
      ],
      tagBG: '#ff7302',
      tag: 'WebGL',
      color: '#ffffff'
    },
    {
      img: 'mikeal.jpeg',
      name: 'Mikeal Rogers',
      company: 'Protocol Labs, USA',
      info: 'Сreator of request and NodeConf. He was a leader in the io.js project and lead the Node.js Foundation through the merger of io.js and Node.js. He now works at Protocol Labs leading the IPLD project.',
      socials: [{
          link: 'https://github.com/mikeal',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/mikeal',
          icon: 'tw'
        },
        {
          link: 'https://medium.com/@mikeal',
          icon: 'med'
        },
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
      decor: true
    }
  ]
}
teamHorizontal: {
  title: 'Your hosts',
  items: [{
    img: 'floor.jpg',
    name: 'Floor Drees',
    company: 'Microsoft, The Netherlands',
    info: 'Product Marketing Manager at Microsoft (Azure). Amsterdam Ruby meetup & EuRuKo 2019 organizer. Tons of start-up experience. Studied Design.',
    decor: false,
    host: true,
    socials: [{
      link: 'https://twitter.com/FloorDrees',
      icon: 'tw'
    }, {
      link: 'https://github.com/FloorD',
      icon: 'gh'
    }, ],
  }, {
    img: 'max.jpg',
    name: 'Maxim Salnikov',
    company: 'Microsoft, Norway',
    info: 'Maxim Salnikov is an Oslo-based cloud and web front-end geek with a strong passion for the developer community building. He architects and builds complex web applications since the end of the last century, and has extensive experience with all aspects of web platform focusing on the apps managing real-time data from IoT devices, and Progressive Web Apps. ',
    decor: false,
    host: true,
    socials: [{
      link: 'https://twitter.com/webmaxru',
      icon: 'tw'
    }, {
      link: 'https://github.com/webmaxru',
      icon: 'gh'
    }]
  }, {
    img: 'sabrina.jpg',
    name: 'Sabrina Verhage',
    company: 'Tellart, The Netherlands',
    info: 'Sabrina is a technologist at Tellart Amsterdam and co-founder of Creative Coding Amsterdam, a monthly meetup for enthusiasts. As a media artist she created and exhibited several interactive installations and generative art works. She is highly fascinated by the influence of modern technology on society and dedicated to create engaging experiences that enable social interaction and change.',
    decor: false,
    host: true,
    socials: [{
      link: 'https://twitter.com/SabrinaVerhage',
      icon: 'tw'
    }, {
      link: 'https://github.com/SabrinaVerhage',
      icon: 'gh'
    }]
  } ]
}
schedule: [{
  title: 'Main hall (June 7)',
  name: '10',
  active: true,
  rows: [ { time: '08:00',
    name: 'Doors open, welcome breakfast',
    title: '' },
  { time: '09:00', name: 'Opening', title: '' },
  { time: '09:15', name: 'Kyle Simpson', title: 'Keynote' },
  { time: '09:45', name: 'Break', title: 'You may find the way to NodeJS hall if interested' },
  { time: '09:55',
    name: 'Krzysztof Kotowicz',
    title: 'Securing the DOM from the Bottom Up' },
  { time: '10:25',
    name: 'Gleb Bahmutov',
    title: 'Testing Tools and Their Friends' },
  { time: '10:55', name: 'Coffee break', title: '' },
  { time: '11:15', name: 'Tobias Koppers', title: 'Webpack 5 - Why Breaking Changes? What is next?' },
  { time: '11:45',
    name: 'Andre Staltz',
    title: 'Functional lenses for contemporary frameworks' },
  { time: '12:15',
    name: 'Henry Zhu',
    title: 'Open Source: Charity or Business?' },
  { time: '12:45',
    name: 'Lunch and networking in the main hall',
    title: '' },
  { time: '14:15', name: 'Open Source awards', title: '' },
  { time: '14:45', name: 'Lightning talks', title: '' },
  { time: '',
    name: 'Jamie Maria Schouren',
    title: 'The search for App' },
  { time: '', name: 'Nicholas Pringle', title: 'A11Y and React' },
  { time: '',
    name: 'Christina H Yu',
    title: 'An Introduction to Static Web Apps with JAMStack' },
  { time: '',
    name: 'Fernanda Andrade',
    title: 'Stop the Software Apocalypse with Functional Programming' },
  { time: '15:15',
    name: 'Minko Gechev',
    title: 'Building Fast Angular Applications from End' },
  { time: '15:45', name: 'Coffee break', title: '' },
  { time: '16:05',
    name: 'Michel Weststrate',
    title: 'Immer, Immutability and the Wonderful World of Proxies' },
  { time: '16:35',
    name: 'Mat Groves',
    title: 'Turbo charging 2D on the web' },
  { time: '17:05', name: 'Coffee break', title: '' },
  { time: '17:15',
    name: 'Christian Bromann',
    title: 'Automated Performance Testing With WebDriver' },
  { time: '17:45',
    name: 'David Rousset',
    title:
     'Using WebGL and PWA to build an adaptive game for touch, mouse and VR devices' },
  { time: '18:15', name: 'Closing', title: '' },
  { time: '18:30', name: 'Break until the party', title: '' },
  { time: '20:00', name: 'Party starts', title: '' },
  { time: '20:30',
    name: 'Aliceeffekt',
    title: 'NodeJS / Electron driven music' },
  { time: '21:15',
    name: 'Polyop',
    title: 'WebAudioAPI & WebGL driven audio visual performance' },
  { time: '22:00', name: 'Party ends', title: '' } ]
},
{
  title: 'NodeJS hall (June 7)',
  name: '11',
  active: false,
  rows: [ { time: '09:45', name: 'Doors open', title: '' },
  { time: '09:55',
    name: 'Razvan Stoenescu',
    title: 'SSR with Quasar Framework' },
  { time: '10:25',
    name: 'Waleed Ashraf',
    title:
     'RabbitMQ and PM2 in Node.js for managing Multiple Processes' },
  { time: '10:55', name: 'Coffee break', title: '' },
  { time: '11:15',
    name: 'Christina Zenzens and Anna Backs',
    title: "What's your backend written with? JavaScript?!" },
  { time: '11:45',
    name: 'Jarrod Overson',
    title: 'Analysis of an exploited npm package' },
  { time: '12:15',
    name: 'Viktor Turskyi',
    title: 'The workThe Working Architecture of Node.js Applications' },
  { time: '12:45',
    name: 'Lunch',
    title: 'served at Zuiderkerk (Main hall)' },
  { time: '14:15', name: 'Matthias Dugue', title: 'Building Zero-Knowledge Backends' },
  { time: '14:45', name: 'Max Gallo', title: 'Reinventing RxJS' },
  { time: '15:15',
    name: 'Paulo Lopes',
    title:
     '10 things I learned making the fastest JS server runtime in the world' },
  { time: '15:45', name: 'Coffee break', title: '' },
  { time: '16:05',
    name: 'Ruben Bridgewater',
    title: 'Error handling: doing it right!' },
  { time: '16:35',
    name: 'Katie Koschland',
    title: 'Ready, Steady, Crash!' },
  { time: '17:05', name: 'Coffee break', title: '' },
  { time: '17:15',
    name: 'Thomas Watson',
    title: 'Post mortem NodeJS debugging' },
  { time: '17:45',
    name: 'Jasper Schulte',
    title: 'Controlling a swarm of drones with NodeJS' } ]
}, {
  title: 'Workshops (June 5-6)',
  name: '12',
  rows: [{
    time: '9.00',
    name: 'Kyle Simpson, Jun&nbsp;5',
    title: 'Full-day Workshop: Functional-Light JavaScript',
  },{
    time: '9.00',
    name: 'Matteo Collina, Jun&nbsp;6',
    title: 'Full-day Workshop: From zero to a REST API with Node.js',
  },{
    time: '9.00',
    name: 'Michel Weststrate, Jun&nbsp;6',
    title: 'Full-day Workshop: TypeScript - From Novice to Expert',
  }, {
    time: '9.00',
    name: 'Maurice de Beijer, Jun&nbsp;6',
    title: '3h Workshop: React Hooks',
  }, {
    time: '9.00',
    name: 'Anthony Antoine & Victor Bury, Jun&nbsp;6',
    title: '3h Workshop: Vue.js HackJam with Hackages',
  }, {
    time: '13.00',
    name: 'Alex Lobera, Jun&nbsp;6',
    title: '3h Workshop: Switching from REST to GraphQL with ReactJS.Academy',
  }, {
    time: '13.00',
    name: 'Slobodan Stojanovic, Jun&nbsp;6',
    title: '3h Workshop: Serverless for Front-end Developers',
  }, ]
}, {
  title: 'Tour Day (June 8)',
  name: '13',
  rows: [{
    time: '11:30',
    name: 'Museum-hop',
    title: 'Going through few museums with your friendly community members (pre-registered)',
  }, {
    time: '13:00',
    name: 'Picnic at the park',
    title: 'Enjoy the rest of the day at JSNation lounge at <a href="https://goo.gl/maps/4NJ6mrfv7d1rBivY6">Vondelpark3 Café</a>',
  }, ]
}, ]
nominations: [{
  text: 'Breakthrough of the year',
  bg: [{
    mod: 'nominations__decor'
  }, ]
}, {
  text: 'Fun side project of the year',
  bg: [{
    mod: 'nominations__decor nominations__decor_7 nominations__decor_tablet-dn'
  }, {
    mod: 'nominations__decor'
  }, ]
}, {
  text: 'Most impactful contribution <br/> to the community',
  bg: [{
    mod: 'nominations__decor nominations__decor_7 nominations__decor_tablet-dn'
  }, {
    mod: 'nominations__decor'
  }, ]
}, {
  text: 'Productivity booster',
  bg: [{
    mod: 'nominations__decor'
  }, ]
}, {
  text: 'The most exciting use of technology',
  bg: [{
    mod: 'nominations__decor'
  }, ]
}, ]
sponsors: {
  title: 'Last year sponsors',
  descr: 'Looking for a company that care about developer communities and invest into personal development?<br/> Check <a href="/js-jobs">job placements from our partners</a>.',
  items: [{
    title: 'Platinum',
    logos: [{
      src: 'dazn.png',
      href: 'https://www.dazn.com/',
    }]
  }, {
    mod: 'logos_md',
    title: 'Gold',
    logos: [{
      src: 'logo-1.jpg',
      href: 'https://www.evolutiongaming.com',
    },{
      src: 'fr-text-black.png',
      href: 'https://www.focusreactive.com',
    },{
      src: 'github.png',
      href: 'https://github.com',
    },{
      src: 'elsevier.png',
      mod: 'square',
      href: 'https://www.elsevier.com',
    }]
  }, {
    mod: 'logos_sm',
    title: 'Silver',
    logos: [{
      src: 'bluefront.png',
      href: 'http://bluefront.nl/',
    }, {
      src: 'picnic.png',
      href: 'https://picnic.app/',
    }, {
      src: 'rangle.png',
      href: 'https://rangle.io?utm_source=jsnation&utm_medium=website&utm_campaign=event',
    }, {
      src: 'reaktor.png',
      href: 'https://www.reaktor.com/',
    }, {
      src: 'soshace.png?v2',
      href: 'https://www.soshace.com/',
    }, ]
  }, {
    mod: 'logos_xs',
    title: 'Partners',
    logos: [{
      src: 'microsoft.png',
      href: 'https://www.microsoft.com'
    }, {
      src: 'google.png',
      href: 'https://www.google.com/'
    }, {
      src: 'hackages.png',
      href: 'https://hackages.io/'
    }, {
      src: 'stickermule-dark.svg',
      href: 'https://www.stickermule.com/eu/uses/laptop-stickers?utm_source=sponsorship&utm_medium=referral&utm_campaign=JSNation19',
    }, {
      src: 'nisjslogo.png',
      href: 'https://www.meetup.com/ru-RU/Ni%C5%A1JS-Meetup/',
    }, {
      src: 'milanojs.png',
      href: 'https://milanojs.com/',
    }, {
      src: 'reactjs-girls.png',
      href: 'https://reactjsgirls.com/',
    }, {
      src: 'wwct.png',
      href: 'https://www.womenwhocode.com/toronto',
    }, {
      src: 'nest.png',
      href: 'https://www.lewagon.com/',
    },{
      src: 'framsia.png',
      href: 'https://www.meetup.com/ru-RU/framsia/',
    }, {
      src: 'london-pwa.png',
      href: 'https://www.meetup.com/ru-RU/London-Progressive-Web-Apps/',
    }, {
      src: 'oslo-pwa.png',
      href: 'https://www.meetup.com/ru-RU/Oslo-Progressive-Web-Apps/',
    }, { {
      src: 'mobile-era.png',
      href: 'https://mobileera.rocks/',
    },
      src: 'angularoslo.png',
      href: 'https://www.meetup.com/ru-RU/AngularJS-Oslo/',
    }, {
      src: 'seattlejs.png',
      href: 'http://seattlejs.com/',
    }, {
      src: 'lavg.png?v2',
      href: 'https://www.meetup.com/ru-RU/london-nodejs/',
    }, {
      src: 'fel.jpeg',
      href: 'https://www.meetup.com/ru-RU/Front-Endgineers-London/',
    }, {
      src: 'infinum.png',
      href: 'https://www.meetup.com/ru-RU/Infinum-JS-Talks/',
    }, {
      src: 'reactacademy-medium.png?v2',
      href: 'https://reactjs.academy/',
    }, {
      src: 'yglf.png',
      href: 'https://lithuania.yglfconf.com/',
    }, {
      src: 'relayr.png',
      href: 'https://relayr.io/',
    }, {
      src: 'shape.png',
      href: 'https://www.shapesecurity.com/',
    }, {
      src: 'codecentric.png',
      href: 'https://www.codecentric.de/',
    }, {
      src: 'alwaysdata.png',
      href: 'https://www.alwaysdata.com/',
    }, {
      src: 'cityjs.png',
      href: 'https://cityjsconf.org/',
    }, {
      src: 'halfstack.png',
      href: 'https://halfstackconf.com/',
    }, {
      src: 'spree.png',
      href: 'https://spreecommerce.org/',
    }, {
      src: 'paypal.png',
      href: 'https://www.paypal.com/',
    }, {
      src: 'nodejsdublin.png',
      href: 'https://www.meetup.com/Dublin-Node-js-Meetup/',
    }, {
      src: 'webbylab.png',
      href: 'https://webbylab.com/',
    }, {
      src: 'stackbuilders.png',
      href: 'https://www.stackbuilders.com/',
    }, {
      src: 'vuejs-oslo.png',
      href: 'https://www.meetup.com/VueJS-Oslo/',
    }, {
      src: 'pdxnode.png',
      href: 'http://pdxnode.org',
    }, {
      src: 'gamedevjs.png?v2',
      href: 'https://gamedevjs.com/',
    }, {
      src: 'hackyourfuture.png',
      href: 'https://www.hackyourfuture.net',
    }, {
      src: 'gitconnected.png',
      href: 'https://gitconnected.com',
    }, ]
  }, ]
}
performancesTeam: [{
    img: 'polyop.jpg',
    name: 'Polyop',
    company: 'WebGL, React, Web Audio API, and Web MIDI API, UK',
    info: 'An electronic music and audiovisual group from London, established by producer Jack Driscoll and visual artist Alex Kempton in 2016. The visuals in their show have been created entirely in Javascript using WebGL. Polyop have developed a spectacular audiovisual show set in an alternate universe. The show follows a mysterious demi-god across the polyhedral-plane, inhabited by strange planets, entities and nomad aliens, to the sound of 90’s techno breakbeat and acid performed live on hardware synthesisers and drum machines.',
    socials: [{
      link: 'https://twitter.com/polyopuk',
      icon: 'tw'
    }, {
      link: 'http://www.polyop.uk/',
      icon: 'site'
    }, ],
    decor: true
  }, {
    img: 'orca.jpg',
    name: 'AliceEffekt — ORCA',
    company: 'Node.js, Japan',
    info: 'AliceEffekt is formed by Devine Lu Linvega, a true digital nomad and a polymath working on a series of experimental tools and applications. Devine has created a set of live coding tools for rapid iteration and creation of rythms based on Node.js. His latest creation: ORCA is a full blown text based sequencer with impressive cappabilities and distinct aesthetic that engulfs the user in a textual fashion rarely seen in live performance.',
    socials: [{
      link: 'https://twitter.com/neauoire',
      icon: 'tw'
    }, {
      link: 'https://aliceffekt.bandcamp.com/',
      icon: 'site'
    }, ]
  } ]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# variable example #}

{% include "partials/_header.html" %}

<main class="main">
  <div class="bg-red intro">
    {% include "partials/_hero.html" %}
  </div>
  {% include "partials/_event.html" %}
  {% include "partials/_media.html" %}
  {% include "partials/_team.html" %}
  {% include "partials/_submit.html" %}
  <!-- {% include "partials/_hosts.html" %} -->
  <div class="bg-red">
    {% include "partials/_map-section.html" %}
    {% include "partials/_subscribe.html" %}
  </div>
  {{mixins.infoSection({
  id: 'hangout-day',
  bg: 'img/info.jpg',
  video: 'video/disco',
  title: "All fun is made<br/> with JS",
  descr: "<p>JavaScript has the potential to change lives and the world we live in. So don’t be shy and explore it with us! If you feel like seeing the most beautiful places in Amsterdam, tasting great food and discovering the city’s hidden perks together we organize a museum visit a day after the conference then it is a time for JS picnic in the wonderful, central Vondelpark.</p>
  <p>And, of course, the conference wouldn’t be complete without an afterparty! Amsterdam is known for its wild nightlife and all our attendees get an invitation to join in.</p>",
  descrMod: 'info-section__descr_lg'
  })}}
  {% include "partials/_performances.html" %}
  <!-- {% include "partials/_schedule.html" %}-->
  {% include "partials/_awards.html" %}
  {% include "partials/_nominations.html" %}
  {% include "partials/_progress.html" %}
  {% include "partials/_sponsors.html" %}
</main>

{% include "partials/_footer.html" %}

{% endblock %}
