---
title: Amsterdam JSNation Conference 2019
dates: [{
  title: 'Wed-Thu',
  date: '5-6th',
  name: 'Workshops',
  info: 'Kyle Simpson, Node.js, React, Vue, Serverless, GraphQL, TypeScript',
  scrollTo: '/workshops'
}, {
  title: 'Friday',
  date: '7th',
  name: 'Conference day',
  info: 'General and NodeJS halls in unique buildings, afterparty',
  scrollTo: '#speakers'
}, {
  title: 'Saturday',
  date: '8th',
  name: 'Hangout day',
  info: 'Museums visit in the morning and JS hangout in the park since lunch',
  scrollTo: '#hangout-day'
}]
info: [{
  num: '3',
  title: 'days',
  descr: 'Workshops <br/> + Conference'
}, {
  num: '2',
  title: 'tracks',
  descr: 'General<br/> + NodeJS'
}, {
  num: '500',
  title: 'personalities',
  descr: 'Sharing common<br/> language',
  mod: 'event__item_lg'
}]
team: {
  title: 'First speakers',
  items: [{
      img: 'kyle-simpson.jpg',
      name: 'Kyle Simpson',
      company: 'You don`t know JS, USA',
      info: "Author of \"You do not know JS\" books series. Founder, Teacher, Mentor, JavaScript Theologian, Open-First Developer.",
      socials: [{
          link: 'https://github.com/getify',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/getify',
          icon: 'tw'
        },
        {
          link: 'https://me.getify.com/',
          icon: 'site'
        }
      ],
      tagBG: '#fff40d',
      tag: 'Language',
      color: '#ae4f01'
    },
    {
      img: 'henry-zhu.jpg',
      name: 'HENRY ZHU',
      company: 'Babel, USA',
      info: "Maintainer of <a href='https://babeljs.io'>Babel</a>. On a journey to live out the parallels of digital communities and faith in open source.",
      socials: [{
          link: 'https://github.com/hzoo',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/left_pad',
          icon: 'tw'
        },
        {
          link: 'https://www.henryzoo.com/',
          icon: 'site'
        }
      ],
      tagBG: '#fff40d',
      tag: 'Ecosystem',
      color: '#ae4f01'
    },
    {
      img: 'tobias-koppers.jpg',
      name: 'TOBIAS KOPPERS',
      company: 'Webpack, Germany',
      info: 'Author of Webpack',
      socials: [{
          link: 'https://github.com/sokra',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/wSokra',
          icon: 'tw'
        },
        {
          link: 'https://medium.com/@sokra',
          icon: 'med'
        },
      ],
      tagBG: '#fff40d',
      tag: 'Ecosystem',
      color: '#ae4f01'
    },
    {
      img: 'andre-staltz.jpg',
      name: 'ANDRE STALTZ',
      company: 'Open source freelancer, Finland',
      info: 'Author of Cycle.js, RXJS core contributor, xstream, Callbags, Manyverse.',
      socials: [{
          link: 'https://github.com/staltz/',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/andrestaltz',
          icon: 'tw'
        },
        {
          link: 'https://staltz.com/',
          icon: 'site'
        },


      ],
      tagBG: '#a2a2a2',
      tag: 'Functional',
      color: '#ffffff'
    },
    {
      img: 'katie.jpg',
      name: 'Katie Koschland',
      company: 'Financial Times, UK',
      info: 'NodeJS engineer at Financial Times',
      socials: [
        {
          link: 'https://github.com/katiekoschland',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/KKoschland',
          icon: 'tw'
        },
        {
          link: 'https://medium.com/@katie.koschland',
          icon: 'medium'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
      decor: true
    },
    {
      img: 'thomas.jpg',
      name: 'Thomas Watson',
      company: 'Elastic, Denmark',
      info: 'Node.js Core Collaborator, open source hacker and Node.js dev at Elastic Search',
      socials: [
        {
          link: 'https://github.com/watson',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/wa7son',
          icon: 'tw'
        },
        {
          link: 'https://medium.com/@wa7son',
          icon: 'site'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
      decor: true
    },
    {
      img: 'minko-gechev.jpg',
      name: 'MINKO GECHEV',
      company: 'Google, USA',
      info: 'Angular core team at Google. Working for more reliable and faster software.',
      socials: [{
          link: 'https://github.com/mgechev',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/mgechev',
          icon: 'tw'
        },
        {
          link: 'https://blog.mgechev.com',
          icon: 'site'
        }
      ],
      tagBG: '#ff2407',
      tag: 'Angular',
      color: '#ffffff',
      decor: true
    }, {
      img: 'michel-weststrate.jpg',
      name: 'MICHEL WESTSTRATE',
      company: 'Consultant, The Netherlands',
      info: 'Full-stack lead developer, TypeScript expert and an author of <a href="https://github.com/mobxjs/mobx">MobX</a>.',
      socials: [{
          link: 'https://github.com/mweststrate',
          icon: 'gh'
        },
        {
          link: 'https://github.com/mweststrate',
          icon: 'tw'
        },
        {
          link: 'http://michel.codes/',
          icon: 'site'
        },


      ],
      tagBG: '#61DAFB',
      tag: 'React',
      color: '#030303'
    }, {
      img: 'razavan.jpg',
      name: 'Razvan Stoenescu',
      company: 'Quasar Framework, Romania',
      info: 'Creator of Quasar Framework which can help you build responsive SPA, SSR, PWA, Hybrid Mobile Apps and Electron Apps, all using the same codebase.',
      socials: [{
          link: 'https://github.com/rstoenescu',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/quasarframework',
          icon: 'tw'
        },
        {
          link: 'https://v1.quasar-framework.org/',
          icon: 'site'
        },
      ],
      tagBG: '#4EBA87',
      tag: 'VueJS',
      color: '#fff',
      decor: true
    }, {
      img: 'matteo.jpg',
      name: 'Matteo Collina',
      company: 'NearForm, Italy',
      info: 'Node.js TSC member, PhD, Technical Director @ NearForm, IoT Expert, Consultant, author of Pino and Fastify. Co-author of the book "Node.js Cookbook, Third Edition" edited by Packt.',
      socials: [{
          link: 'https://github.com/mcollina',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/matteocollina',
          icon: 'tw'
        },
        {
          link: 'http://matteocollina.com',
          icon: 'site'
        },
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
      decor: true
    },{
      img: 'ruben.jpg',
      name: 'Ruben Bridgewater',
      company: 'Freelance, Germany',
      info: 'Node.js core collaborator and a freelance software architect consultant. His main emphasis is building powerful and easy to use APIs for scalable and fast applications. He is continuously working with the V8 team and the TC39 committee to improve the developer experience with JavaScript.',
      socials: [{
          link: 'https://github.com/BridgeAR/',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/BridgeAR',
          icon: 'tw'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
      decor: true
    }, {
      img: 'gleb-bahmutov.jpg',
      name: 'GLEB BAHMUTOV',
      company: 'Cypress.io, USA',
      info: 'VP of engineering at <a href="http://cypress.io/">Cypress.io</a>, JavaScript ninja, image processing expert, software quality fanatic.',
      socials: [{
          link: 'https://github.com/bahmutov',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/bahmutov',
          icon: 'tw'
        },
        {
          link: 'https://glebbahmutov.com/',
          icon: 'site'
        }
      ],
      tagBG: '#f200fa',
      tag: 'Testing',
      color: '#400042',
    },
    {
      img: 'anna-backs.jpg',
      name: 'Anna Backs',
      company: 'Codecentric AG, Germany',
      info: "Anna Backs is a software developer and IT-consultant. She is part of small team building an interactive 3D-control panel for managing the IoT devices in her company's office building. In her free time she walks her dog and drinks coffee.",
      socials: [{
          link: 'https://github.com/christian-bromann',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/merelyAnna',
          icon: 'tw'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
    },
    {
      img: 'krzysztof-kotowicz.jpg',
      name: 'KRZYSZTOF KOTOWICZ',
      company: 'Google, Switzerland',
      info: "Web security researcher specialising in discovery and exploitation of client-side vulnerabilities, and a software engineer in the Information Security Engineering team at Google.",
      socials: [{
          link: 'https://github.com/koto',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/kkotowicz',
          icon: 'tw'
        },
        {
          link: 'http://blog.kotowicz.net/',
          icon: 'site'
        }
      ],
      tagBG: '#A2A2A2',
      tag: 'Security',
      color: '#ffffff',
    },
    {
      img: 'christian-bromann.jpg',
      name: 'CHRISTIAN BROMANN',
      company: 'SauceLabs, Germany',
      info: "Head of the <a href='https://webdriver.io/'>Webdriver.io</a> project. Testing all the things SauceLabs. Open source & open standards advocate",
      socials: [{
          link: 'https://github.com/christian-bromann',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/bromann',
          icon: 'tw'
        }
      ],
      tagBG: '#f200fa',
      tag: 'Testing',
      color: '#400042',
    },
    {
      img: 'christina-zenzens.jpg',
      name: 'Christina Zenzens',
      company: 'Codecentric AG, Germany',
      info: "Christina Zenzes is a consultant and software dev. She is part of a team that is developing an interactive control panel for managing all IoT devices in her company's office building. She likes to grow plants on her balcony, pet cats, cook, and eat.",
      socials: [{
        link: 'https://twitter.com/merelyChristina',
        icon: 'tw'
      }],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
    }, {
      img: 'mat-groves.jpg',
      name: 'MAT GROVES',
      company: 'Goodboy Digital, UK',
      info: 'Creative coder, all about Javascript, WebGL and optimisation. Creator of PixiJS.',
      socials: [{
          link: 'https://github.com/pixijs/pixi.js',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/doormat23',
          icon: 'tw'
        },
        {
          link: 'http://www.pixijs.com/',
          icon: 'site'
        },
      ],
      tagBG: 'blue',
      tag: 'GameDev',
      color: '#fff',
      decor: true
    },
    {
      img: 'jarrod-overson.jpg',
      name: 'Jarrod Overson',
      company: 'Shape Security, USA',
      info: "Jarrod is a Director of Engineering at Shape Security. Frequent speaker on modern web threats and cybercrime and has been quoted by Forbes, the Wall Street Journal, CNET among others. Co-author of O’Reilly’s Developing Web Components, creator of Plato, a static analysis tool for web applications.",
      socials: [{
          link: 'https://github.com/jsoverson',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/jsoverson',
          icon: 'tw'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
    },
    {
      img: 'waleed-ashraf.jpg',
      name: 'Waleed Ashraf',
      company: 'relayr GmbH, Germany',
      info: "Member @Node.js Foundation & Contributor, working on IoT and open-source tech.",
      socials: [{
          link: 'https://github.com/WaleedAshraf',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/waleedashraf01',
          icon: 'tw'
        },
        {
          link: 'https://twitter.com/waleedashraf.me',
          icon: 'site'
        },
        {
          link: 'https://medium.com/@waleedashraf',
          icon: 'medium'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
    },
    {
      img: 'paulo-lopes.jpg',
      name: 'Paulo Lopes',
      company: 'RedHat, Netherlands',
      info: "10+ years of software development experience writing, rewriting, banging head against the wall, editing and re-editing high-performance web application",
      socials: [{
          link: 'https://github.com/pmlopes',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/pml0pes',
          icon: 'tw'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
    },
    {
      img: 'jamie-maria.jpg',
      name: 'Jamie Maria Schouren',
      company: 'DEITY, Netherlands',
      info: "Jamie Maria is addicted to e-commerce, in love with code and her mind bound to business. Driven by the urge for innovation she fights with the aim to improve the online world around her.",
      socials: [{
          link: 'https://github.com/deity-io',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/JamieMariaS',
          icon: 'tw'
        },
        {
          link: 'https://medium.com/deity-io',
          icon: 'site'
        }
      ],
      tagBG: 'red',
      tag: 'PWA',
      color: '#fff',
    },
    {
      img: 'viktor.jpg',
      name: 'Viktor Turskyi',
      company: 'WebbyLab, Ukraine',
      info: "CEO and principal architect at WebbyLab company. Open source developer. 15+ years of hands-on experience with more than 60 JavaScript projects completed.",
      socials: [{
          link: 'https://github.com/koorchik',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/koorchik',
          icon: 'tw'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
    }, {
      img: 'david-rousset.jpg',
      name: 'DAVID ROUSSET',
      company: 'Microsoft, Paris',
      info: 'SDE & Evangelist at Microsoft. Author of BabylonJS & VorlonJS. Composing music in a free time.',
      socials: [{
          link: 'https://github.com/davrous',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/davrous',
          icon: 'tw'
        },
        {
          link: 'https://www.davrous.com/',
          icon: 'site'
        },


      ],
      tagBG: '#ff7302',
      tag: 'WebGL, WebXR',
      color: '#ffffff',

    },
    {
      img: 'christinah.jpg',
      name: 'Christina H Yu',
      company: 'PayPal, USA',
      info: "Christina is an engineer on the web platform team at PayPal. She mostly works with nodejs, and making developer experience more awesome. Previously she co-founded the startup Shippa, a global logistics platform powered by travelers.",
      socials: [],
      tagBG: 'purple',
      tag: 'Static Builders',
      color: '#fff',
    },
    {
      img: 'bruno-lavit.jpg',
      name: 'Matthias Dugué',
      company: 'Alwaysdata, France',
      info: "Tech Evangelist at alwaysdata. He tries to inform about present and future of digital issues. His favorite book always remains «Alice in Wonderland».",
      socials: [{
          link: 'https://github.com/m4dz',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/m4d_z',
          icon: 'tw'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
    },
    {
      img: 'jasper.jpg',
      name: 'Jasper Schulte',
      company: 'GreenHome, The Netherlands',
      info: "Hacker Founder. During the day CTO of GreenHome, a sustainable scale up from Amsterdam, during the evening I build my own drones and try to do all kind of fun stuff with them.",
      socials: [
        {
          link: 'https://twitter.com/zjaaspoer',
          icon: 'tw'
        },{
          link: 'http://jasperschulte.nl',
          icon: 'site'
        },
      ],
      tagBG: 'blue',
      tag: 'Drones',
      color: '#fff',
    },
    {
      img: 'slobodan.jpg',
      name: 'Slobodan Stojanovic',
      company: 'CloudHorizon, Serbia',
      info: "Co-author of the book \"Serverless applications with Node.js\". CTO at CloudHorizon",
      socials: [
        {
          link: 'https://github.com/stojanovic',
          icon: 'gh'
        },{
          link: 'https://twitter.com/slobodan_',
          icon: 'tw'
        }
      ],
      tagBG: '#7AB464',
      tag: 'NodeJS',
      color: '#fff',
    },
    {
      img: 'fernanda.jpg',
      name: 'Fernanda Andrade',
      company: 'Stack Builders, Ecuador',
      info: "Fernanda Andrade is team lead and consultant at Stack Builders. She has been working in the software development industry for over seven years and has built software for a range of industries across the globe.",
      socials: [
        {
          link: 'https://github.com/flandrade',
          icon: 'gh'
        }
      ],
      tagBG: '#a2a2a2',
      tag: 'Functional',
      color: '#ffffff'
    }
  ]
}
teamHorizontal: {
  title: 'Your hosts',
  items: [{
    img: 'tobias-koppers.jpg',
    name: 'METTIN PARZINSKI',
    company: 'Goodboy Digital, UK',
    info: 'Creative coder, all about Javascript, WebGL and optimisation. Creator of PixiJS.',
    decor: false,
    host: true,
    socials: [{
      link: '#',
      icon: 'tw'
    }, {
      link: '#',
      icon: 'gh'
    }, ],
  }, {
    img: 'gleb-bahmutov.jpg',
    name: 'CAROLYN STRANSKY',
    company: 'Framer X, The Netherlands',
    info: 'SDE & Evangelist at Microsoft. Author of BabylonJS & VorlonJS. Composing music in a free time http://soundcloud.com/david-rousset.',
    decor: false,
    host: true,
    socials: [{
      link: '#',
      icon: 'tw'
    }, {
      link: '#',
      icon: 'gh'
    }]
  }, ]
}
schedule: [{
  title: 'Conference day (June 7)',
  name: '10',
  active: true,
  rows: [
  {
    time: '08.00',
    name: 'Registration',
  },{
    time: '09.20',
    name: 'Conference Opening',
  },{
    time: '',
    name: 'Kyle Simpson',
    title: 'Keynote',
  }, {
    time: '',
    name: 'Jasper Schulte',
    title: 'Controlling a swarm of drones with JavaScript',
  }, {
    time: '',
    name: 'Tobias Koppers',
    title: 'Webpack 5 - why breaking changes? What is next?',
  },{
    time: '',
    name: 'Andre Staltz',
    title: 'Functional lenses for contemporary frameworks',
  },{
    time: '',
    name: 'Razavan Stoenescu',
    title: 'SSR with VueJS Quasar framework',
  },{
    time: '',
    name: 'Minko Gechev',
    title: 'Building Fast Angular Applications from End-to-End',
  },{
    time: '',
    name: 'Gleb Bahmutov',
    title: 'Testing Tools and Their Friends',
  }, {
    time: '',
    name: 'Michel Weststrate',
    title: 'Immer, Immutability and the Wonderful World of Proxies',
  }, {
    time: '',
    name: 'David Rousset',
    title: 'WebVR & WebAR details TBA',
  }, {
    time: '',
    name: 'Lightning talks',
    title: 'TBA',
  }, {
    time: '',
    name: 'Henry Zhu',
    title: 'Open Source: Charity or Business?',
  }, {
    time: '',
    name: 'Christian Bromann',
    title: 'Measuring performance with WebDriver',
  }, {
    time: '',
    name: 'VueJS core team',
    title: 'Talk TBA',
  }, {
    time: '',
    name: 'Mat Groves',
    title: 'WebGL2 and game development',
  }, {
    time: '',
    name: 'Krzysztof Kotowicz',
    title: 'Securing the DOM from the Bottom Up',
  }, {
    time: '',
    name: 'Christina Zenzens & Anna Backs',
    title: 'What is your backend written with? JavaScript?!',
  }, {
    time: '',
    name: 'Matthias Dugué',
    title: 'Build a Zero Knowledge backend with Node.js',
  },{
    time: '',
    name: 'Katie Koschland',
    title: 'Ready, Steady, Crash! Load testing tools observed.',
  }, {
    time: '',
    name: 'More talks on NodeJS',
    title: 'TBA',
  },{
    time: '18:00',
    name: 'Closing',
  },{
    time: '18:10',
    name: 'Break',
  },{
    time: '19:30',
    name: 'After-party & JS driven music and performances',
  }]
}, {
  title: 'Workshops (June 5-6)',
  name: '12',
  rows: [{
    time: '9.00',
    name: 'Kyle Simpson, Jun&nbsp;5',
    title: 'Full-day Workshop: Functional-Light JavaScript',
  },{
    time: '9.00',
    name: 'Matteo Collina, Jun&nbsp;6',
    title: 'Full-day Workshop: From zero to a REST API with Node.js',
  },{
    time: '9.00',
    name: 'Michel Weststrate, Jun&nbsp;6',
    title: 'Full-day Workshop: TypeScript - From Novice to Expert',
  }, {
    time: '9.00',
    name: 'Maurice de Beijer, Jun&nbsp;6',
    title: '3h Workshop: React Hooks',
  }, {
    time: '9.00',
    name: 'Anthony Antoine & Victor Bury, Jun&nbsp;6',
    title: '3h Workshop: Vue.js HackJam with Hackages',
  }, {
    time: '13.00',
    name: 'Alex Lobera, Jun&nbsp;6',
    title: '3h Workshop: Switching from REST to GraphQL with ReactJS.Academy',
  }, {
    time: '13.00',
    name: 'Slobodan Stojanovic, Jun&nbsp;6',
    title: '3h Workshop: Serverless for Front-end Developers',
  }, ]
}, {
  title: 'Tour Day (June 8)',
  name: '13',
  rows: [{
    time: 'TBD',
    name: 'Museum-hop',
    title: 'Going through few museums with your friendly community members',
  }, {
    time: 'TDB',
    name: 'Picnic at the park',
    title: 'Enjoy the rest of the day in JSNation lounge at Vondelpark',
  }, ]
}, ]
nominations: [{
  text: 'Breakthrough of the year',
  bg: [{
    mod: 'nominations__decor'
  }, ]
}, {
  text: 'Fun side project of the year',
  bg: [{
    mod: 'nominations__decor nominations__decor_7 nominations__decor_tablet-dn'
  }, {
    mod: 'nominations__decor'
  }, ]
}, {
  text: 'Most impactful contribution <br/> to the community',
  bg: [{
    mod: 'nominations__decor nominations__decor_7 nominations__decor_tablet-dn'
  }, {
    mod: 'nominations__decor'
  }, ]
}, {
  text: 'Productivity booster',
  bg: [{
    mod: 'nominations__decor'
  }, ]
}, {
  text: 'The most exciting use of technology',
  bg: [{
    mod: 'nominations__decor'
  }, ]
}, ]
sponsors: {
  title: 'Sponsors',
  descr: 'Looking for a company that care about developer communities and invest into personal development?<br/> Check <a href="/js-jobs">job placements from our partners</a>.',
  items: [{
    title: 'Platinum',
    logos: [{
      src: 'dazn.png',
      href: 'https://www.dazn.com/',
    }]
  }, {
    mod: 'logos_md',
    title: 'Gold',
    logos: [{
      src: 'logo-1.jpg',
      href: 'https://www.evolutiongaming.com',
    },{
      src: 'fr-text-black.png',
      href: 'https://www.focusreactive.com',
    },{
      src: 'github.png',
      href: 'https://github.com',
    },{
      src: 'elsevier.png',
      mod: 'square',
      href: 'https://www.elsevier.com',
    }]
  }, {
    mod: 'logos_sm',
    title: 'Silver',
    logos: [{
      src: 'bluefront.png',
      href: 'http://bluefront.nl/',
    }, {
      src: 'picnic.png',
      href: 'https://picnic.app/',
    }, {
      src: 'rangle.png',
      href: 'https://rangle.io/',
    }, {
      src: 'reaktor.png',
      href: 'https://www.reaktor.com/',
    }, {
      src: 'soshace.png?v2',
      href: 'https://www.soshace.com/',
    }, ]
  }, {
    mod: 'logos_xs',
    title: 'Partners',
    logos: [{
      src: 'microsoft.png',
      href: 'https://www.microsoft.com'
    }, {
      src: 'google.png',
      href: 'https://www.google.com/'
    }, {
      src: 'hackages.png',
      href: 'https://hackages.io/'
    }, {
      src: 'stickermule-dark.svg',
      href: 'https://www.stickermule.com/eu/uses/laptop-stickers?utm_source=sponsorship&utm_medium=referral&utm_campaign=JSNation19',
    }, {
      src: 'nisjslogo.png',
      href: 'https://www.meetup.com/ru-RU/Ni%C5%A1JS-Meetup/',
    }, {
      src: 'milanojs.png',
      href: 'https://milanojs.com/',
    }, {
      src: 'reactjs-girls.png',
      href: 'https://reactjsgirls.com/',
    }, {
      src: 'wwct.png',
      href: 'https://www.womenwhocode.com/toronto',
    }, {
      src: 'nest.png',
      href: 'https://www.lewagon.com/',
    },{
      src: 'framsia.png',
      href: 'https://www.meetup.com/ru-RU/framsia/',
    }, {
      src: 'london-pwa.png',
      href: 'https://www.meetup.com/ru-RU/London-Progressive-Web-Apps/',
    }, {
      src: 'oslo-pwa.png',
      href: 'https://www.meetup.com/ru-RU/Oslo-Progressive-Web-Apps/',
    }, { {
      src: 'mobile-era.png',
      href: 'https://mobileera.rocks/',
    },
      src: 'angularoslo.png',
      href: 'https://www.meetup.com/ru-RU/AngularJS-Oslo/',
    }, {
      src: 'seattlejs.png',
      href: 'http://seattlejs.com/',
    }, {
      src: 'lavg.png?v2',
      href: 'https://www.meetup.com/ru-RU/london-nodejs/',
    }, {
      src: 'fel.jpeg',
      href: 'https://www.meetup.com/ru-RU/Front-Endgineers-London/',
    }, {
      src: 'infinum.png',
      href: 'https://www.meetup.com/ru-RU/Infinum-JS-Talks/',
    }, {
      src: 'reactacademy-medium.png',
      href: 'https://reactjs.academy/',
    }, {
      src: 'yglf.png',
      href: 'https://lithuania.yglfconf.com/',
    }, {
      src: 'relayr.png',
      href: 'https://relayr.io/',
    }, {
      src: 'shape.png',
      href: 'https://www.shapesecurity.com/',
    }, {
      src: 'codecentric.png',
      href: 'https://www.codecentric.de/',
    }, {
      src: 'alwaysdata.png',
      href: 'https://www.alwaysdata.com/',
    }, {
      src: 'cityjs.png',
      href: 'https://cityjsconf.org/',
    }, {
      src: 'halfstack.png',
      href: 'https://halfstackconf.com/',
    }, {
      src: 'spree.png',
      href: 'https://spreecommerce.org/',
    }, {
      src: 'paypal.png',
      href: 'https://www.paypal.com/',
    }, {
      src: 'nodejsdublin.png',
      href: 'https://www.meetup.com/Dublin-Node-js-Meetup/',
    }, {
      src: 'webbylab.png',
      href: 'https://webbylab.com/',
    }, {
      src: 'stackbuilders.png',
      href: 'https://www.stackbuilders.com/',
    }, {
      src: 'vuejs-oslo.png',
      href: 'https://www.meetup.com/VueJS-Oslo/',
    }, {
      src: 'pdxnode.png',
      href: 'http://pdxnode.org',
    }, {
      src: 'gamedevjs.png?v2',
      href: 'https://gamedevjs.com/',
    }, {
      src: 'hackyourfuture.png',
      href: 'https://www.hackyourfuture.net',
    }, {
      src: 'gitconnected.png',
      href: 'https://gitconnected.com',
    }, ]
  }, ]
}
performancesTeam: [{
    img: 'polyop.jpg',
    name: 'Polyop',
    company: 'WebGL, React, Web Audio API, and Web MIDI API, UK',
    info: 'An electronic music and audiovisual group from London, established by producer Jack Driscoll and visual artist Alex Kempton in 2016. The visuals in their show have been created entirely in Javascript using WebGL. Polyop have developed a spectacular audiovisual show set in an alternate universe. The show follows a mysterious demi-god across the polyhedral-plane, inhabited by strange planets, entities and nomad aliens, to the sound of 90’s techno breakbeat and acid performed live on hardware synthesisers and drum machines.',
    socials: [{
      link: 'https://twitter.com/polyopuk',
      icon: 'tw'
    }, {
      link: 'http://www.polyop.uk/',
      icon: 'site'
    }, ],
    decor: true
  }, {
    img: 'orca.jpg',
    name: 'AliceEffekt — ORCA',
    company: 'Node.js, Japan',
    info: 'AliceEffekt is formed by Devine Lu Linvega, a true digital nomad and a polymath working on a series of experimental tools and applications. Devine has created a set of live coding tools for rapid iteration and creation of rythms based on Node.js. His latest creation: ORCA is a full blown text based sequencer with impressive cappabilities and distinct aesthetic that engulfs the user in a textual fashion rarely seen in live performance.',
    socials: [{
      link: 'https://twitter.com/neauoire',
      icon: 'tw'
    }, {
      link: 'https://aliceffekt.bandcamp.com/',
      icon: 'site'
    }, ]
  } ]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# variable example #}

{% include "partials/_header.html" %}

<main class="main">
  <div class="bg-red intro">
    {% include "partials/_hero.html" %}
  </div>
  {% include "partials/_event.html" %}
  {% include "partials/_media.html" %}
  {% include "partials/_team.html" %}
  {% include "partials/_submit.html" %}
  {% include "partials/_hosts.html" %}
  <div class="bg-red">
    {% include "partials/_map-section.html" %}
    {% include "partials/_subscribe.html" %}
  </div>
  {{mixins.infoSection({
  id: 'hangout-day',
  bg: 'img/info.jpg',
  video: 'video/disco',
  title: "All fun is made<br/> with JS",
  descr: "<p>JavaScript has the potential to change lives and the world we live in. So don’t be shy and explore it with us! If you feel like seeing the most beautiful places in Amsterdam, tasting great food and discovering the city’s hidden perks together we organize a museum visit a day after the conference then it is a time for JS picnic in the wonderful, central Vondelpark.</p>
  <p>And, of course, the conference wouldn’t be complete without an afterparty! Amsterdam is known for its wild nightlife and all our attendees get an invitation to join in.</p>",
  descrMod: 'info-section__descr_lg'
  })}}
  {% include "partials/_performances.html" %}
  {% include "partials/_schedule.html" %}
  {% include "partials/_awards.html" %}
  {% include "partials/_nominations.html" %}
  {% include "partials/_progress.html" %}
  {% include "partials/_sponsors.html" %}
</main>

{% include "partials/_footer.html" %}

{% endblock %}
