---
title: Amsterdam JSNation Conference 2019
innerPage: true
workshops: {
  title: 'Workshops <br/>on June 6',
  sections: [
    {
      rows: [
        {
          title: 'Michel Weststrate',
          subtitle: 'Full-day Workshop: TypeScript - From Novice to Expert',
          descr: "
          <p>The JavaScript Eco System is moving to TypeScript. Fast. This workshop will explain why and when you might want to use TypeScript, and get you up and running with all the essentials. In this workshop we will cover practically the full language. And we will go deep.</p>
          <p><a href='https://michel.codes/workshops/'>Read more at Michel's website</a></p>
          "
        }
      ]
    },
    {
      rows: [
        {
          title: 'Maurice de Beijer',
          subtitle: '3h Workshop at 9am: React Hooks',
          descr: "
            <p>The React team rewrote the book on developing components. Before we had a choice between classes and functional components. Yet many components needed to be classes. A functional component was often too limited. Now, using hooks, we can extend functional components to be as powerful as we want.</p>
            <p>Join me in this interactive workshop. You will learn all about using the different standard hooks. You will start extracting code from components into you own custom hooks. But be warned, hooks are like a drug. Once tried you too will be hooked. Your components will never be the same again.</p>
          "
        }
      ]
    },{
      rows: [
        {
          title: 'Anthony Antoine & Victor Bury',
          subtitle: '3h Workshop at 9am: Vue.js HackJam with Hackages',
          descr: "
            <p>During this workshop you’ll learn about the very basics of Vue such as state, props, components, lifecycle hooks; understand how to use @vue/cli to bootstrap your Vue applications and discover the ecosystem of this progressive JavaScript framework.</p>

            <p>You'll learn a lot with the hands-on approach of this workshop: we'll give you a broken application which you will have to fix, using Vue technology.</p>

            <p>At the end of the session you should be able to: <br/>
            - Write your own Vue components <br/>
            - Manage the state of your application <br/>
            - Use the right lifecycle hooks for the right job</p>
          "
        }
      ]
    },
    {
      rows: [
        {
          title: 'Alex Lobera',
          subtitle: '3h Workshop at 1pm: Switching from REST to GraphQL with ReactJS.Academy',
          descr: "
            <p>GraphQL is changing the way we build modern applications, not only by making our apps more efficient but also by giving true autonomy to product & engineering teams and changing the way we think. If your project has heavily invested on REST, this workshop will help you understand and get started quickly with GraphQL by leveraging GraphQL on top of your existing REST API.</p>

            <p>On completion of the workshop each trainee will: <br/>
            - Understand the power of modeling your API using graphs <br/>
            - Learn how to create a GraphQL server using Apollo Server <br/>
            - Understand how to design a modular GraphQL schema <br/>
            - Be able to expose an existing Rest API using a GraphQL API</p>
          "
        }
      ]
    },
    {
      rows: [
        {
          title: 'Slobodan Stojanović',
          subtitle: '3h Workshop at 1pm: Serverless for Front-end Developers',
          descr: "
            <p>As a frontend developer, you often need a backend, either to be able to finish your awesome side project or to create a temporary mock API, until your backend team completes the API they are working on for a few months. But backend development is not easy. Writing some Node.js is just a first piece of it, then you need to set up a server and deploy your app. If your side project becomes successful one day, you’ll need to maintain your server, then scale it. But servers are not pets; sometimes they are more like a Godzilla, a creature that can eat all your free time and destroy your entrepreneurial spirit.</p>
            <p>This workshop will teach you how to create APIs and other serverless backends for your frontend applications, and become a fullstack developer.</p>
          "
        }
      ]
    },

  ]
}
team: {
  title: 'Trainers',
  items: [
    {
      img: 'alex-lobera.jpg',
      name: 'Alex Lobera',
      company: 'LeanJS, UK',
      info: 'Experienced Full-stack Developer passionate about JavaScript, React and GraphQL. 15 years of experience in the software industry, including successful startups like Stella&Dot. Instructor & speaker. Organizer of the JavaScript London Meetup and other popular meetups in the EU. Alex started developing with React in April 2015 and taught his first React workshop in May 2016. Alex holds a computer science degree and he is also a certified Spanish teacher.',
      socials: [
        {
          link: 'https://github.com/alexlbr',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/alex_Lobera',
          icon: 'tw'
        },
        {
          link: 'https://medium.com/@alex_lobera',
          icon: 'med'
        },
      ],
      tagBG: '#fff40d',
      tag: 'Language',
      color: '#ae4f01'
    },{
      img: 'anthony-antoine.jpg',
      name: 'Anthony Antoine',
      company: 'Hackages, Belgium',
      info: "Anthony is an Open Source engineer at Hackages. He's always enjoyed using Javascript and started playing with frameworks back when Backbone and Ember were part of the Big Three. Nowadays he really likes using Vue and React for projects big and small, while still keeping an eye out for game changing new technologies. He also likes to investigate paradigms diverging from the traditional procedural / object-oriented programming.",
      socials: [
        {
          link: 'https://github.com/waxandwane',
          icon: 'gh'
        }
      ],
      tagBG: '#fff40d',
      tag: 'Language',
      color: '#ae4f01'
    },{
      img: 'victor-bury.jpg',
      name: 'Victor Bury',
      company: 'Hackages, Belgium',
      info: 'Victor is an Open Source Engineer at Hackages. He is passionate about all things around JavaScript, especially Vue.js, in which he has immersed himself in the past few months. He does that when he is not working on an Angular project with the rest of the team, participating in HackJams, HackCamps and conferences or learning another latest new technology that just came out.',
      socials: [
        {
          link: 'https://github.com/anymaniax',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/anymaniax',
          icon: 'tw'
        }
      ],
      tagBG: '#fff40d',
      tag: 'Language',
      color: '#ae4f01'
    },{
      img: 'maurice-de-beijer.jpg',
      name: 'Maurice de Beijer',
      company: 'Freelance, Netherlands',
      info: 'Maurice de Beijer is an independent software consultant and trainer. He specializes in JavaScript, React, Angular 2+ and ASP.NET MVC. His work includes a large, global, safety application for the oil and gas industry. Maurice is also active in the open source community. He teaches ECMAScript, TypeScript, React, Angular 4 and ASP.NET MVC courses. Since 2005, he has received Microsoft’s Yearly Most Valuable Professional Award.',
      socials: [
        {
          link: 'https://github.com/mauricedb/',
          icon: 'gh'
        },
        {
          link: 'https://twitter.com/MauriceDB',
          icon: 'tw'
        },
        {
          link: 'https://medium.com/@maurice.de.beijer',
          icon: 'med'
        },
      ],
      tagBG: '#fff40d',
      tag: 'Language',
      color: '#ae4f01'
    },
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# variable example #}

{% include "partials/_header.html" %}

<main class="main">
  {{mixins.hero({
    img: 'img/workshops.jpg',
    title: 'Learn from the best cherry-picked trainers'
  })}}
  <!--<div class="bg-red">
    <div class="info-wrapper">
      <div class="wrapper">
        <div class="info-wrapper__inner">
          {{mixins.info({
          title: 'Trainers',
          icon: '6'
          })}}
          {{mixins.info({
          title: 'Tickets',
          icon: '350'
          })}}
        </div>
      </div>
    </div>
  </div>-->
  {% include "partials/_workshops.html" %}
  {% include "partials/_team.html" %}
</main>

{% include "partials/_footer.html" %}

{% endblock %}


