+font('GothamPro-Black' , 'GothamPro-Black')
+font('RobotoMono-Medium' , 'RobotoMono-Medium')
+font('RobotoMono-Bold' , 'RobotoMono-Bold')

=gotBlack
	font-family: 'GothamPro-Black'
=med
	font-family: 'RobotoMono-Medium'
=bold
	font-family: 'RobotoMono-Bold'
