+font('HintedGothamPro' , 'HintedGothamPro')
+font('HintedGothamPro' , 'HintedGothamProLight')
+font('HintedGothamPro' , 'HintedGothamProMedium')
+font('HintedGothamPro' , 'HintedGothamProBold')
+font('HintedGothamPro' , 'HintedGothamProBlack')

+font('GothamPro-Black' , 'GothamPro-Black')
+font('RobotoMono-Medium' , 'RobotoMono-Medium')
+font('RobotoMono-Bold' , 'RobotoMono-Bold')

=gotBlack
	font-family: 'GothamPro-Black'
    font-weight: normal
=med
	font-family: 'RobotoMono-Medium'
    font-weight: normal
=bold
	font-family: 'RobotoMono-Bold'
    font-weight: normal


=got
	font-family: 'Gotham Pro'
    font-weight: normal

=gotL
    font-family: 'Gotham Pro'
    font-weight: 300

=gotM
    font-family: 'Gotham Pro'
    font-weight: 500

=gotB
    font-family: 'Gotham Pro'
    font-weight: 700

=gotBl
    font-family: 'Gotham Pro'
    font-weight: 900