<section class="event" id="event">
  <!-- <video class="event__video" preload="auto" muted autoplay loop poster="img/event.jpg">
    <source src="video/river.webm" type="video/webm"/>
    <source src="video/river.mp4" type="video/mp4"/>
  </video> -->
  <div class="event__inner">
    <div class="event__content">
      <div class="event__left">
        <div class="event__title title">
          The Event
        </div>
        <div class="event__descr descr">
          {{ pagesPieceOfTexts.event__descr | safe }}
          <!-- <p>Already with us? Join our <a href="/slack" target="_blank" class="link"><span class="link__icon">{{mixins.icon('sl')}}</span>Slack</a>.</p> -->
        </div>
      </div>
      <div class="event__right">
        <div class="hero__techs-title">First authors and core teams that have joined the lineup:
        </div>
        {% include "partials/_techs.html" %}
        <div class="hero__techs-title">Want to know the rest? <a class="link" href="#subscribe">Follow us</a></div>
      </div>
    </div>
  </div>

  {% if pages[pageKey].pageSections.eventDates %}
    {% include "partials/_dates.html" %}
  {% endif %}
</section>
