<section class="event" id="event">
  <!-- <video class="event__video" preload="auto" muted autoplay loop poster="img/event.jpg">
    <source src="video/river.webm" type="video/webm"/>
    <source src="video/river.mp4" type="video/mp4"/>
  </video> -->
  <div class="event__inner">
    <div class="event__content">
      <div class="event__left">
        <div class="event__title title">
          The Event
        </div>
        <div class="event__descr descr">
          <p>
            Amsterdam JSNation is a 2-day event focusing exclusively on JavaScript development. At our conference, inspiring talks meet fresh ideas and good people with summer Amsterdam in the background. We recognize JavaScript development as an art of engineering that is why confernece happens in a former church Rembrand attended. Which is located in the most center of the city next to the best places Amsterdam has to offer.
          </p>
          <p>Already with us? Join our <a href="http://bit.ly/jsnation-slack" target="_blank" class="link"><span class="link__icon">{{mixins.icon('sl')}}</span>Slack</a>.</p>
        </div>
      </div>
      <div class="event__right">
        <div class="hero__techs-title">This year authors and core teams of:</div>
        {% include "partials/_techs.html" %}
      </div>
    </div>
  </div>
  
  {% include "partials/_dates.html" %}
</section>
