<section class="faq-desc">
  <div class="wrapper">
	<div class="faq-desc__intro">
		<p>Our team is always striving to provide the best support to help you with any questions related to conference attendance and to make information more transparent and instantly accessible, we've started gathering most frequently asked questions on the page below.</p>
		<p>If you can't find an answer to your question below - contact us via hi@reactday.berlin.</p>
	</div>

	{% for faq in faqs %}
		{{mixins.faqSection(faq)}}
	{% endfor %}
  </div>
</section>
