<header class="header js-header">
  <button class="header__burger burger js-burger">
    <span class="burger__item"></span>
    <span class="burger__item"></span>
    <span class="burger__item"></span>
  </button>
  <div class="header__content js-header-content">
    <div class="header__inner">
      <div class="header__socials">
        <ul class="socials">
          <li class="socials__item"><a href="https://twitter.com/amsterdamjs" target="_blank" class="socials__link">{{mixins.icon('tw')}}</a></li>
          <li class="socials__item"><a href="https://www.facebook.com/amsterdamjs" target="_blank" class="socials__link">{{mixins.icon('fb')}}</a></li>
          <li class="socials__item"><a href="https://www.youtube.com/JSNation" target="_blank" class="socials__link">{{mixins.icon('yt')}}</a></li>
        </ul>
      </div>
      <div class="header__nav">
        <nav class="nav">
          <a class="nav__item js-scroll-to" href="./index.html#event">the event</a>
          <a class="nav__item js-scroll-to" href="./index.html#location">location</a>
          <a class="nav__item js-scroll-to" href="./index.html#speakers">speakers</a>
          <a class="nav__item js-scroll-to" href="./workshops.html">workshops</a>
          <!--<a class="nav__item js-scroll-to" href="#schedule">schedule</a>-->
          <!--<a class="nav__item js-scroll-to" href="#tour">tour day</a>-->
          <a class="nav__item js-scroll-to" href="./index.html#sponsors">sponsors</a>
          <a class="nav__item js-scroll-to" href="#contact">contact us</a>
        </nav>
      </div>
      <div class="header__btn">
        <a href="https://www.eventbrite.com/e/amsterdam-jsnation-conference-2019-tickets-53358526790" target="_blank" class="btn"><span class="btn__text">tickets</span></a>
      </div>
    </div>
  </div>
</header>
