<header class="header js-header">
  <button class="header__burger burger js-burger">
    <span class="burger__item"></span>
    <span class="burger__item"></span>
    <span class="burger__item"></span>
  </button>
  <div class="header__content js-header-content">
    <div class="header__inner">
      <a href="/" class="header__mini-logo"></a>
      <div class="header__nav">
        <nav class="nav">
          {% if innerPage %}
          <a class="nav__item js-scroll-to" href="/">conference page</a>
          <a class="nav__item js-scroll-to" href="/faq">FAQ</a>
          {% else %}
            {% for item in pages[pageKey].pageNavigation.headerNav %}
              <a class="nav__item js-scroll-to" href="{{item.href}}">{{item.text}}</a>
            {% endfor %}
          {% endif %}
        </nav>
      </div>
      <div class="header__btn">
        <!-- <a href="http://twitter.com/thejsnation" class="btn"><span class="btn__text">follow for updates</span></a> -->
        <!-- <a href="https://www.eventbrite.com/e/jsnation-conference-2020-tickets-71547014045" class="btn"><span class="btn__text">tickets</span></a> -->
      </div>
    </div>
  </div>
</header>
