<section class="hero" style="background-image: url(img/hero-bg.svg)">
  <div class="hero__logo">
    <a href="/" class="logo">
      <img src="img/logo.svg" alt=""/>
    </a>
  </div>
  <h1 class="hero__title">
    Core library authors. Hands-on learning. Summer Amsterdam.
  </h1>
  <div class="hero__descr">
    JavaScript is #1 on demand programming language in the world with 25 millions of developers behind it. <br/>Meet the ones who shape out the now and the future of the prospering nation.
   </div>
  <div class="hero__btn">
    <a href="https://www.eventbrite.com/e/amsterdam-jsnation-conference-2019-tickets-53358526790" target="_blank" class="btn btn_border btn_ttu btn_yellow">
      <div class="btn__text">RESERVE YOUR SPOT</div>
    </a>
  </div>
</section>
