<section class="hero" style="background-image: url(img/hero-bg.svg)">
  <div class="hero__logo">
    <a href="/" class="logo">
      <img src="img/logo.svg" alt=""/>
    </a>
  </div>
  <h1 class="hero__title">
    Core library authors. Hands-on learning. Summer Amsterdam.
  </h1>
  <div class="hero__descr">
    JavaScript is #1 on demand programming language in the world with 25 millions of developers behind it. Meet the ones who shape out the now and the future of the prospering nation.
  </div>

  <div class="hero__techs-title">This year:</div>
  
  <ul class="techs">
    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_babel.png"/></div>
        <p class="techs__title">Babel</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_webpack.png"/></div>
        <p class="techs__title">Webpack</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_cycle.png"/></div>
        <p class="techs__title">Cycle</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_rxjs.png"/></div>
        <p class="techs__title">RX.js</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_mobx.png"/></div>
        <p class="techs__title">Mobx</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_angular.png"/></div>
        <p class="techs__title">Angular</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_cypres.png"/></div>
        <p class="techs__title">Cypres</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_webdriver.png"/></div>
        <p class="techs__title">Webdriver</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_pixi.png"/></div>
        <p class="techs__title">Pixi</p>
      </a>
    </li>

    <li class="techs__item">
      <a class="techs__link" href="#">
        <div class="techs__img-box"><img class="techs__img" src="img/techs_babylon.png"/></div>
        <p class="techs__title">Babylon</p>
      </a>
    </li>
  </ul>

  <div class="hero__btn">
    <a href="https://www.eventbrite.com/e/amsterdam-jsnation-conference-2019-tickets-53358526790" target="_blank" class="btn btn_border btn_ttu btn_yellow">
      <div class="btn__text">RESERVE YOUR SPOT</div>
    </a>
  </div>
</section>
