<section class="map-section" id="location">
  <div class="map-section__slider">
    <div class="swiper-container slider js-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <div class="slide__inner" style="background-image: url(img/node-js-hall.gif)"></div>
        </div>
        <div class="swiper-slide slide">
          <div class="slide__inner" style="background-image: url(img/nodejs-hall2.jpg)"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="map-section__title title">Summertime JS festival with unique audio/video experience</div>
    <div class="map-section__top">
      <!-- <div class="map-section__subtitle is-active js-map-title">Main hall</div> -->
      <!-- <div class="map-section__subtitle js-map-title">NodeJS hall</div>
      <div class="map-section__nav">
        <button role="button" class="swiper-button-prev swiper-button js-slider-prev ">
          <img class="swiper-button-icon" src="img/map_arrow.svg"/>
        </button>
        <button role="button" class="swiper-button-next swiper-button js-slider-next ">
          <img class="swiper-button-icon" src="img/map_arrow_r.svg"/>
        </button>
      </div> -->
    </div>
    <div class="map-section__inner">
      <div class="map-section__content-wrap">
        <div class="map-section__content js-map-content is-active">
          <div class="map-section__descr descr">
            <p>
              JSNation conference will gather 1200+ JS pros at Theater Amsterdam, a place built to empower performers with the most sophisticated audio/video setup in the Western Europe so be prepared to watch inspiring presentations in front of 500 square meters panoramic screen.
            </p>

          </div>
          <div class="map-section__footer">
            <p>Danzigerkade 5<br/>
              1013 AP Amsterdam
            </p>
            <a href="https://goo.gl/maps/qo83aD3mz3ewt5Ws5" class="map-section__link">View on map</a>
          </div>
        </div>
        <!-- <div class="map-section__content js-map-content">
          <div class="map-section__descr descr">
            <p>
              The NodeJS events will take place in the beautiful Uilenburg synagoge, which is a 5-minute walk away from the main conference venue.
            </p>
          </div>
          <div class="map-section__footer">
            <p>Nieuwe Uilenburgerstraat 91,<br/>
              1011 LM Amsterdam
            </p>
            <a href="https://goo.gl/maps/iKcncyDe1yP2" class="map-section__link">View on map</a>
          </div>

        </div>-->
      </div>
      <div class="map-section__map">
        {% include "./_map.html" %}
      </div>
    </div>
  </div>
</section>
