<div class="map">
  <div class="map__pins">\
    <div class="map__pin pin pin_lg js-pin" data-lat="52.3697847" data-lng="4.898886">
      <p>Main <br/>
        hall</p>
      <img src="img/marker.svg" alt=""/>
    </div>

    <div class="map__pin pin js-pin" data-lat="52.3701965" data-lng="4.9045001">
      <p>NodeJShall</p>
      <img src="img/marker.svg" alt=""/>
    </div>

    <div class="map__pin pin js-pin" data-lat="52.3689063" data-lng="4.9001207">
      <img src="img/marker.svg" alt=""/>
      <p>Rembrandt house</p>
    </div>
  </div>
  <div class="map__inner">
    <div class="map__decor"></div>
    <div class="map__decor map__decor_2"></div>
    <div class="map__decor map__decor_3"></div>
    <div class="map__decor map__decor_4"></div>
    <div class="map__content js-map" data-key="AIzaSyAx93dTJlVUtFzowSlFUq6LcRL3ZQleM4I" data-center-lat="52.384183" data-center-lng="4.914727" data-icon="img/marker.svg"></div>
    <!--<script async defer-->
    <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-ZEocFpuybFyJZg92LhWsvIJdo56S34s"></script>-->
  </div>
</div>
