<section class="map-section" id="location">
  <div class="map-section__slider">
    <div class="swiper-container slider js-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <div class="slide__inner" style="background-image: url(img/node-js-hall.jpg?v=2)"></div>
        </div>
        <div class="swiper-slide slide">
          <div class="slide__inner" style="background-image: url(img/node-js-hall1.jpg?v=3)"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="map-section__title title">Summertime JS festival with unique audio/visual experience</div>
    <div class="map-section__top">
      <!-- <div class="map-section__subtitle is-active js-map-title">Main hall</div> -->
      <!-- <div class="map-section__subtitle js-map-title">NodeJS hall</div>
      <div class="map-section__nav">
        <button role="button" class="swiper-button-prev swiper-button js-slider-prev ">
          <img class="swiper-button-icon" src="img/map_arrow.svg"/>
        </button>
        <button role="button" class="swiper-button-next swiper-button js-slider-next ">
          <img class="swiper-button-icon" src="img/map_arrow_r.svg"/>
        </button>
      </div> -->
    </div>
    <div class="map-section__inner">
      <div class="map-section__content-wrap">
        <div class="map-section__content js-map-content is-active">
          <div class="map-section__descr descr">
            <p>
              JSNation conference will gather 1000+ JS pros at Kromhouthal, a former ship engines factory which now becomes the place for gathering the top JavaScript engines authors and engineers.
            </p>

          </div>
          <div class="map-section__footer">
            <p>Gedempt Hamerkanaal 231<br/>
              1021 KP Amsterdam
            </p>
            <a href="https://goo.gl/maps/Ccb2dHzvUe1SocKd6" class="map-section__link">View on map</a>
          </div>
        </div>
        <!-- <div class="map-section__content js-map-content">
          <div class="map-section__descr descr">
            <p>
              The NodeJS events will take place in the beautiful Uilenburg synagoge, which is a 5-minute walk away from the main conference venue.
            </p>
          </div>
          <div class="map-section__footer">
            <p>Nieuwe Uilenburgerstraat 91,<br/>
              1011 LM Amsterdam
            </p>
            <a href="https://goo.gl/maps/iKcncyDe1yP2" class="map-section__link">View on map</a>
          </div>

        </div>-->
      </div>
      <div class="map-section__map">
        {% include "./_map.html" %}
      </div>
    </div>
  </div>
</section>
