<section class="team-horizontal team-horizontal_sm" id="performance">
  <div class="wrapper">
    <div class="team-horizontal__title team-horizontal__title_mb-sm title">Last year JS Performances</div>
    <div class="team-horizontal__descr descr">
      We initianted Call for JavaScript Artists which allowed to deliver state of the art JS driven afterparty programme of audio visual acts powered with NodeJS, WebGL, WebAudioAPI. Want to know the programme for 2020? <a class="link" href="#subscribe">Follow us</a>
    </div>
    <div class="team-horizontal__inner">
      {% for item in performancesTeam %}
      <div class="team-horizontal__item">
        {{mixins.teammate({
        mod: 'teammate_horizontal',
        img: item.img,
        name: item.name,
        company: item.company,
        info: item.info,
        socials: item.socials,
        decor: item.decor
        })}}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
