<!--<section class="team-horizontal team-horizontal_sm" id="performance">
  <div class="wrapper">
    <div class="team-horizontal__title team-horizontal__title_mb-sm title">JS Performances</div>
    <div class="team-horizontal__descr descr">
      And, of course, the conference wouldn’t be complete without an afterparty where all our attendees get an invitation to join in. The evening celebration of creativity will feature performances, installations – and some beer that goes with it.
    </div>
    <div class="team-horizontal__inner">
      {% for item in performancesTeam %}
      <div class="team-horizontal__item">
        {{mixins.teammate({
        mod: 'teammate_horizontal',
        img: item.img,
        name: item.name,
        company: item.company,
        info: item.info,
        socials: item.socials,
        decor: item.decor
        })}}
      </div>
      {% endfor %}
    </div>
  </div>
</section>-->
