<section class="progress bg-red" id="diversity">
	<div class="wrapper">
		<div class="progress__title title">Giving back to community</div>
		<div class="progress__content">
			<div class="progress__left">
				<div class="progress__descr descr">
					<p>When we established our JS meetup 9 years ago, we never imagined we would welcome up to 1400 attendees at our events and organize 4 meetups and multiple spin-offs in Europe. Our secret? We welcome people from all walks of life in our community, and we are a proud partner of initiatives like Unicorns in Tech, the global tech network for LGBT professionals and straight allies.</p>
					<p>We know that supporting diversity inside and outside IT must not end at mere statements, which is why are now developing diversity scholarship programs that will be announced in the coming weeks.</p>
					<!-- <p style="margin-top: 10px">On top of our self-funded tickets pool, we're greatly thankful to <strong>GitHub</strong> for sponsoring extra 35 tickets. Make JS community a better place, support our scholarship programme!</p> -->
				</div>
			</div>
			<div class="progress__right">
				<!-- <img class="progress__img" src="img/github.png" width="254" height="250" /> -->
				<div class="progress__subtitle color-yellow">
					0 of 50 extra diversity scholarships sponsored
				</div>

				<div class="progress__bar">
					<div class="progress-bar">
					<div class="progress-bar__content" style="width: 0%"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="progress__btns">
<!--			<a class="btn btn_bg-white btn_lg btn_mob-p-s" href="https://docs.google.com/forms/d/e/1FAIpQLSef0NNPgfvkruA2agO3xd7Bj4kHEEISTOr7s8ClrFsg0KmpEA/viewform">-->
<!--				<span class="btn__text">apply for diversity scholarship</span>-->
<!--			</a>-->
			<a class="btn btn_bg-yellow btn_lg btn_mob-p-s" href="mailto:hi@jsnation.com">
				<span class="btn__text">sponsor diversity tickets</span>
			</a>
		</div>
	</div>
</section>
