<section class="progress bg-red">
  <div class="wrapper">
    <div class="progress__title title">Giving back to community</div>
    <div class="progress__descr descr">
      <p>When we established our JS meetup 9 years ago, we never imagined we would welcome up to 1200 attendees at our events and organize 4 meetups and multiple spin-offs in Europe. Our secret? We welcome people from all walks of life in our community, and we are a proud partner of initiatives like Unicorns in Tech, the global tech network for LGBT professionals and straight allies.</p>
      <p>We know that supporting diversity inside and outside IT must not end at mere statements, which is why are now developing diversity scholarship programs that will be announced in the coming weeks.</p>
    </div>
    <div class="progress__subtitle color-yellow">
      0 of 35 diversity scholarships sponsored
    </div>
    <div class="progress__bar">
      <div class="progress-bar">
        <div class="progress-bar__content" style="background-image: url(img/progress.png); width: 0%"></div>
      </div>
    </div>
    <div class="progress__btns">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSef0NNPgfvkruA2agO3xd7Bj4kHEEISTOr7s8ClrFsg0KmpEA/viewform" class="btn btn_border btn_lg btn_white btn_mob-p-s">
        <span class="btn__text">apply for diversity scholarship</span>
      </a>
      <a href="mailto:hi@amsterdamjs.com" class="btn btn_border btn_lg btn_mob-p-s">
        <span class="btn__text">sponsor diversity tickets</span>
      </a>
    </div>
  </div>
</section>
