<section class="sponsors" id="sponsors">
  <div class="wrapper">
    <div class="sponsors__title title">{{sponsors.title}}</div>
    {% if sponsors.descr %}
    <div class="sponsors__descr descr">{{sponsors.descr | safe}}</div>
    {% endif %}
    <div class="sponsors__content">
      {% for item in sponsors.items %}
      <div class="sponsors__item">
        <div class="logos {{item.mod}}">
          <div class="logos__inner">
            <div class="logos__info">
              <div class="logos__title">{{item.title}}</div>
              <div class="logos__empty"></div>
            </div>
            <div class="logos__content">
              {% for logo in item.logos %}
              <a href="{{logo.href}}" class="logos__link {% if logo.mod %}{{ logo.mod }}{% endif %}" target="_blank"><img src="img/logos/{{logo.src}}" /></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
