<section class="subscribe">
  <div class="wrapper">
    <div class="subscribe__inner">
      <div class="subscribe__content">
        <div class="subscribe__title title">Do not miss a thing from us</div>
        <div class="subscribe__row">
          <div class="subscribe__left">
            <div class="subscribe__descr descr">
              <p>
                We all speak the same language which means there is always something to talk about. Subscribe to our social channels to not miss news and goodies.
              </p>
            </div>

            <div class="subscribe__descr descr">
              <p>
                Newsletter is the most engaging way we communicate. Subscribe to the newspaper of JSNation!
              </p>
            </div>

            <div class="subscribe__form">
              <form class="form" target="_blank" method="post" action="//amsterdamjs.us13.list-manage.com/subscribe/post?u=910284f989b81c945f27311af&amp;id=05036cab56" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
                <div class="form__field">
                  <div class="form__input">
                    <input type="email" required placeholder="Email address" name="EMAIL" id="mce-EMAIL"/>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_910284f989b81c945f27311af_05036cab56" tabindex="-1" value="" /></div>
                  </div>
                  <div class="form__btn">
                    <button type="submit" class="btn btn_transparent btn_lg" name="subscribe" id="mc-embedded-subscribe">
                      <span class="btn__text">SUBSCRIBE</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="subscribe__right">

            <div class="subscribe__img subscribe__img_mob">
              <img src="img/form-img-mob.svg" alt=""/>
            </div>

            <div class="subscribe__socials">
              <p class="subscribe__socials-title">Follow us for updates:</p>

              <ul class="socials socials_xl">
                <li class="socials__item"><a href="https://twitter.com/amsterdamjs" target="_blank" class="socials__link">{{mixins.icon('tw')}}</a></li>
                <li class="socials__item"><a href="https://www.facebook.com/amsterdamjs" target="_blank" class="socials__link">{{mixins.icon('fb')}}</a></li>
                <li class="socials__item"><a href="https://www.youtube.com/JSNation" target="_blank" class="socials__link">{{mixins.icon('yt')}}</a></li>
                <li class="socials__item"><a href="http://bit.ly/jsnation-slack" target="_blank" class="socials__link">{{mixins.icon('sl')}}</a></li>
                <li class="socials__item"><a href="https://medium.com/@amsterdamjs" target="_blank" class="socials__link">{{mixins.icon('med')}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
