<section class="team" id="speakers">
  <div class="wrapper">
    <div class="team__title title">{{pages[pageKey].pageSections.team.title}}</div>
    <div class="team__inner">
      {% for item in speakers[pageKey] %}
      <div class="team__item">
        {{mixins.teammate(item, '', noTracks)}}
      </div>
      {% endfor %}
      {% if (pages[pageKey].pageSections.team.cpf) %}
      <div class="team__item team__item_assign">
      	<p class="team__title">You?</p>
      	<p class="team__desc">CFP is open until  29th February</p>
      	<a class="btn btn_bg-white btn_ttu" href="https://docs.google.com/forms/u/1/d/e/1FAIpQLScfRsnB8Qv3JRHVc9Z6j0Ztc7O1jTeUbTnxLvQ9dtpmNneA1Q/viewform">Submit proposal</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
