
  
  <ul class="techs">
    <li class="techs__item">
       <div class="techs__img-box"><img class="techs__img" src="img/techs_babel.png"/></div>
       <p class="techs__title">Babel</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_webpack.png"/></div>
      <p class="techs__title">Webpack</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_cycle.png"/></div>
      <p class="techs__title">Cycle</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_rxjs.png"/></div>
      <p class="techs__title">RX.js</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_mobx.png"/></div>
      <p class="techs__title">Mobx</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_angular.png"/></div>
      <p class="techs__title">Angular</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_cypres.png"/></div>
      <p class="techs__title">Cypres</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_webdriver.png"/></div>
      <p class="techs__title">Webdriver</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_pixi.png"/></div>
      <p class="techs__title">Pixi</p>
    </li>

    <li class="techs__item">
      <div class="techs__img-box"><img class="techs__img" src="img/techs_babylon.png"/></div>
      <p class="techs__title">Babylon</p>
    </li>
  </ul>