<div class="table-wrapper">
  <div class="wrapper">
    <div class="table-wrapper__title title">{{ pages[pageKey].pageSections.title | safe }}</div>
    <div class="table-wrapper__descr descr">
      {{ pages[pageKey].pageSections.description | safe }}
    </div>
    <div class="table-wrapper__content">
      <div class="table table_sm">
        <div class="table__body">
          {% for section in workshops %}
          <div class="table__section">
            <div class="table__row">
              <div class="table__col table__col_sm">{{section.title | safe}}</div>
              <div class="table__row-content">
                <div class="table__col table__col_lg">
                  {% if section.additionalInfo %}<div class="table__title">{{section.additionalInfo | safe }}</div>{% endif %}
                  {% if section.description | safe  %}<div class="table__descr">{{section.description | safe}}</div>{% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
